*{
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.bigContainer{
    margin: 0 auto;
    text-align: center;

    >.topProductDetail-container{
        width: fit-content;
        margin: 0 auto;
        >.productDetail-container{
            display: flex;
            gap: 10px;
            >img{
                width: 40%;
                // height: 400px;
                border-radius: 10px;
                
            }
            >.details{
                >h5{
                    width: max-content;
                }
                >.rating{
                    width: max-content;
                    >span{
                        color: yellow;
                    }
                }
                >.productDiscount{
                    width: max-content;
                }
                >.productSize{
                    width: max-content;
                }
                >.priceContainer{
                    width: max-content;
                    >.tempPrice-tag{
                        text-decoration: line-through;
                    }
                    >code{
                        margin-right: 20px;
                    }
                }
                >.quantityContainer{
                    width: max-content;
                    padding: 10px;
                    border-radius: 5px;
                    background-color: rgb(62, 61, 61);
                    >small{
                        color: white;
                        padding: 0 5px;
                    }
                    >button{
                        border-radius: 5px;
                        color: white;
                        background-color: transparent;
                        height: 30px;
                        width: 30px;
                    }
                }
                >.buttonContainer{
                    display: flex;
                    // background-color: red;
                    border-bottom: 2px solid;
                    gap: 20px;
                    width: max-content;
                    >.addToCart{
                        padding: 5px;
                        margin: 5px;
                        border: 2px solid ;
                        background-color: rgb(239, 180, 70);
                        color: white;
                    }
                    >.buy-now{
                        
                        padding: 5px;
                        margin: 5px;
                        border: 2px solid ;
                        background-color: rgb(37, 228, 37);
                        color: white;
                    }
                }
            }
        }
        >.productDescription{
            margin: 20px 10px 0 10px;
        }
    }

    >.slider-related-product{
        display: flex;
        overflow-x: scroll;
        // background-color: rgb(242, 240, 240);
        margin-bottom: 15px;
        

        >div{
            flex: none;
            display: flex;
            
        }
        
    }
    >::-webkit-scrollbar{
        display: none;
    }


    >.showMore{
        // background-color: black;
        margin: 10px 0;
        padding: 10px;

        border: 0.5px solid;
        font-size: 10px;
        position: relative;
        bottom: 10px;
        background-color: rgb(57, 238, 238);
        color: white;

    }

}