* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.big-container-admin {
    margin: 20px 0;

    >h6 {
        width: max-content;
        margin: 10px auto;

    }

    >.createProduct-admin-form {
        margin: auto;
        display: flex;
        width: 60vw;
        flex-direction: column;
        gap: 5px;


        >input {
            height: 40px;
            padding-left: 15px;
            outline: none;
            border: none;
            border-bottom: 0.5px solid rgb(210, 207, 207);
            border-right: 0.5px solid rgb(210, 207, 207);
        }

        >div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5px;

            >input {
                width: 100%;
                outline: none;
                border: none;
                border-bottom: 0.5px solid rgb(179, 170, 170);
                border-right: 0.5px solid rgb(179, 170, 170);
                height: 40px;
                padding-left: 15px;
            }
        }

        >#submit {
            width: max-content;
            padding: 0 20px;
            margin: auto;

        }

        >#productDescription {
            padding: 8px 0 0 15px;
            outline: none;
            border: none;
            border-bottom: 0.5px solid rgb(210, 207, 207);
            border-right: 0.5px solid rgb(210, 207, 207);

        }

    }
}